header {
  .container {
    margin: auto;
    padding-left: 50px;
  }
  .Navbar {
    display: flex;
    align-items: center;
    margin: 20px 0;

    img {
      max-width: 300px;
    }
  }
  .NavIcons {
    .Icons {
      font-size: 30px;
      margin: 0 40px;
      color: #254d9c;
    }
  }
}
